        {% load static %}

        <!-- Vendor scripts -->
        <script src="{% static 'mepo/vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'mepo/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'mepo/vendor/slimScroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'mepo/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'mepo/vendor/metisMenu/dist/metisMenu.min.js' %}"></script>
        <script src="{% static 'mepo/vendor/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'mepo/vendor/sparkline/index.js' %}"></script>
        <script src="{% static 'mepo/vendor/sweetalert/lib/sweet-alert.min.js' %}"></script>

        <!-- App scripts -->
        <script src="{% static 'mepo/scripts/homer.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>