<!-- Navigation -->
<aside id="menu">
	<div id="navigation">
		<div class="profile-picture">
			<a href="index.html">
				<img src="images/profile.jpg" class="img-circle m-b" alt="logo">
			</a>

			<div class="stats-label text-color">
				<span class="font-extra-bold font-uppercase">Bernhard Wagesreiter</span>
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown">
						<small class="text-muted">Webdeveloper <b class="caret"></b></small>
					</a>
					<ul class="dropdown-menu animated flipInX m-t-xs">
						<li><a href="contacts.html">Contacts</a></li>
						<li><a href="profile.html">Profile</a></li>
						<li><a href="analytics.html">Analytics</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Logout</a></li>
					</ul>
				</div>
				<div id="sparkline1" class="small-chart m-t-sm"></div>
				<div>
					<h4 class="font-extra-bold m-b-xs">
						€99,--
					</h4>
					<small class="text-muted">income this month</small>
				</div>
			</div>
		</div>

        <ul class="nav" id="side-menu">
			<li>
				<a href="home">
                    <span class="nav-label">Home</span>
                </a>
			</li>
            <li class="#">
                <a href="#">
                    <span class="nav-label">SOAP</span>
                    <span class="fa arrow"></span>
                </a>
				<ul class="nav nav-second-level">
					<li><a href="blocking">Blocking</a></li>
					<li><a href="prepaid">Prepaid SPD</a></li>
				</ul>
			</li>
            <li class="#">
                <a href="#">
                    <span class="nav-label">mkDienste</span>
                    <span class="fa arrow"></span>
                </a>
				<ul class="nav nav-second-level">
					<li><a href="mkDiensteCreateNew.php">Create New</a></li>
					<li><a href="mkDiensteOverview.php">Overview</a></li>
					<li><a href="xcrud.php">xcrud</a></li>
					<li><a href="faq.php">faq</a></li>
					<li><a href="timeLine.php">Offene Aufträge</a></li>
				</ul>
			</li>
			<li>
				<a href="#">
                    <span class="nav-label">Charts</span>
                    <span class="fa arrow"></span>
                </a>
				<ul class="nav nav-second-level">
					<li><a href="chartjs.html">ChartJs</a></li>
					<li><a href="flot.html">Flot charts</a></li>
					<li><a href="inline.html">Inline graphs</a></li>
					<li><a href="chartist.html">Chartist</a></li>
					<li><a href="c3.html">C3 Charts</a></li>
				</ul>
			</li>
			<li>
                <a href="#"><span class="nav-label">Bernhard Test</span><span class="fa arrow"></span> </a>
				<ul class="nav nav-second-level">
					<li><a href="xxx.php">xxx</a></li>
					<li><a href="yyy.php">yyy</a></li>
				</ul>
			</li>
            <li class="active">
                <a href="#">
                    <span class="nav-label">Test 02</span>
                    <span class="fa arrow"></span>
                </a>
				<ul class="nav nav-second-level">
					<li><a href="mkDiensteCreateNew.php">Create New</a></li>
					<li><a href="faq.php">faq</a></li>
					<li><a href="timeLine.php">Offene Aufträge</a></li>
				</ul>
			</li>
            <li>
				<a href="Test">
                    <span class="nav-label">Test</span> <span class="label label-success pull-right">v.01</span>
                </a>
			</li>
			<li>
				<a href="login">
                    <span class="nav-label">Logout</span>
                </a>
			</li>
        </ul>
    </div>
</aside>
<!-- Navigation -->