        {% load static %}
        <!-- Simple splash screen which is shown during loading the site-->
        <div class="splash">
            <div class="color-line"></div>
            <div class="splash-title">
                <h1>LOADING - Please Wait!</h1>
                <p>Wenn's mal wieder länger dauert.</p>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>