{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Page title -->
<title>SMSC/MMSC | Planning Department</title>

{% include "mepo/base_css.html" %}
{% include "mepo/base_header_splashscreen.html" %}


<div class="color-line"></div>
<div class="back-link">
    <a href="home" class="btn btn-primary">Back to home</a>
</div>
<div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>404</h1>
    <strong>Page Not Found</strong>
    <p>
        Sorry, but the page you are looking for has not been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.

    </p>
    <a href="home" class="btn btn-xs btn-success">Go back to home</a>
</div>


{% include "mepo/base_javascript.html" %}
