<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		{% include "mepo/base_css.html" %}

		<title>SMSC/MMSC | Planning Department</title>
	</head>

	<body class="blank">
		{% include "mepo/base_header_splashscreen.html" %}
		<div class="color-line"></div>

		<div class="login-container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center m-b-md">
						<h3><b>Messaging Portal 2.0</b></h3>
                        <small>from SMS to RCS</small>
					</div>
					<div class="hpanel">
						<div class="panel-body">
							<div class="form-group p-xxs">
								<form method="post">
									{% csrf_token %}
						            <center><h3><b>Login</b></h3><br></center>
									<div class="form-group p-xxs">
										<label class="control-label" for="id_username">Username</label>
										<input type="text" placeholder="NT-user" title="Please enter you username" required="yes" name="username" id="id_username" class="form-control">
									</div>
									<div class="form-group p-xxs">
										<label class="control-label" for="id_password">Password</label>
										<input type="password" title="Please enter your password" placeholder="" required="yes" name="password" id="id_password" class="form-control">
									</div>

                                    {% if form.errors %}
                                        <div class="form-group p-xxs has-error">
                                            <center>
                                                <span class="help-block form-error">
                                                    <b>Your username and password didn't match.</b><br>
                                                    <b>Please try again.</b>
                                                </span>
                                            </center>
                                        </div>
                                    {% endif %}

									<button type="submit" class="btn btn-success btn-block">Login</button>

								</form>
                          </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center">
				<strong>A1 Telekom Austria AG</strong><br/>(c) 2017 Ing. Bernhard Wagesreiter
			</div>
		</div>


		{% include "mepo/base_javascript.html" %}
	</body>
</html>

